<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
    <input type="text" placeholder="Your Name" v-model="person.Name"><br>
    <input type="text" placeholder="Your Surname" v-model="person.Surname"><br>
    <input type="number" placeholder="Your Age" v-model="person.Age"><br>
    
    <input type="radio" id="Male" value="Male" v-model="person.Gender">
    <label for="Male">Male</label>
    <br>
    <input type="radio" id="Female" value="Female" v-model="person.Gender">
    <label for="Female">Female</label>
    <br>

    <input type="checkbox" id="dog" value = "Dog" v-model="person.Pets">
    <label for="dog">Dog</label>
    <input type="checkbox" id="cat"  value = "Cat" v-model="person.Pets">
    <label for="cat">Cat</label>
    <input type="checkbox" id="bird"  value = "Bird" v-model="person.Pets">
    <label for="bird">Bird</label>
    <br>

    <select v-model = "person.Role">
        <option value="" disabled>Select Role</option>
        <option value="Admin">Admin</option>
        <option value="User">User</option>
    </select>
    <br>

    <span> {{ person }} </span>
    </div>
    <script>
    var app = new Vue({
        el:'#app',
        data: {
            person:{
                Name: '',
                Surname: '',
                Age: '', 
                Gender: '',
                Pets: [],
                Role: '',
            }
        },
    });
    </script>
    
</body>
</html>